<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="com.yyh.cms.dao.ArticleMapper">
 	
 	<resultMap type="Article" id="articleResultMap">
 		<id property="id" column="id"/>
 		<result property="title" column="title"/>
 		<result property="content" column="content"/>
 		<result property="picture" column="picture"/>
 		<result property="channel_id" column="channelId"/>
 		<result property="category_id" column="categoryId"/>
 		<result property="user_id" column="userId"/>
 		<result property="hits" column="hits"/>
 		<result property="hot" column="hot"/>
 		<result property="status" column="status"/>
 		<result property="deleted" column="deleted"/>
 		<result property="created" column="created"/>
 		<result property="updated" column="updated"/>
 		<result property="content_type" column="contentType"/>
 		<association property="user" javaType="User" column="user_id" select="selectUserById"></association>
 		<association property="channel" javaType="Channel" column="channel_id" select="selectChannelById"></association>
 		<association property="category" javaType="CateGory" column="cateGory_id" select="selectCateGoryById"></association>
 	</resultMap>
 	
 	<select id="select" resultMap="articleResultMap">
 		select * from cms_article where id=#{id}
 	</select>
 	<!-- user子查询 作者-->
 	<select id="selectUserById" resultType="User">
 		select * from cms_user where id=#{user_id}
 	</select>
 	<!-- channel子查询  分类-->
 	<select id="selectChannelById" resultType="Channel">
 		select * from cms_channel where id=#{user_id}
 	</select>
 	<!-- category子查询 栏目-->
 	<select id="selectCateGoryById" resultType="CateGory">
 		select * from cms_category where id=#{user_id}
 	</select>
 	
 	<select id="selects" resultMap="articleResultMap">
 		select * from cms_article
 		
 		<where>
 			<!-- 根据文章作者查询 -->
 			<if test="userId!=null">
 				and user_id = #{userId}
 			</if>
 			
 			<!-- 根据文章审核状态查询 -->
 			<if test="status!=null">
 				and status = #{status}
 			</if>
 			
 			<!-- 根据文章标题查询 -->
 			<if test="title!=null and title!=''">
 				and title like concat('%',#{title},'%')
 			</if>
 			
 			<!-- 按照栏目和分类查询 -->
 			<if test="channelId!=null">
 				and channel_id =#{channelId}
 			</if>
 			<if test="categoryId!=null">
 				and category_id =#{categoryId}
 			</if>
 			<!-- 查询热点文章 -->
 			<if test="hot!=null">
 				and hot = #{hot}
 			</if>
 			
 			<!-- 按照文章发布时间查询 -->
 			<if test="created!=null">
 				and created >= #{created} and created &lt;=now()
 			</if>
 		</where>
 		order by created desc
 	</select>
 	
 	<!-- 增加文章 -->
 	<insert id="insert">
 		insert into cms_article(title,picture,content,channel_id,category_id,user_id,
   created,updated,content_type,status,hot,deleted) values(#{title},#{picture},#{content},#{channelId},#{categoryId},#{userId},
   #{created},#{updated},#{contentType},#{status},#{hot},#{deleted})
 	</insert>
 	
 	<!-- 更新文章 -->
 	<update id="update">
 		update cms_article
 		<set>
 		
 			<if test="title!=null and title!=''">
 				title = #{title},
 			</if>
 			<if test="content!=null and content!=''">
 				content = #{content},
 			</if>
 			<if test="hot!=null">
 				hot = #{hot},
 			</if>
 			<if test="status!=null">
 				status = #{status},
 			</if>
 		
 		</set>
 		<where>
 			id = #{id}
 		</where>
 	</update>
 	
 	
 </mapper>